<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
        <title>INDEX</title>
    </head>

    <body>
        <h2>INDEX page</h2>
        <hr>
        <p>this is the index page</p>
    <%- include('./partials/footer.ejs') %>
</html>